*:8000

tls off

root /data/Web

gzip

log stdout
errors stdout

fastcgi / /var/run/php-fpm.sock php

rewrite / {
  to {path} {path}/ /index.php?{query}
}

startup php-fpm -y /usr/local/etc/php-fpm.conf -R &
